/* Reset CSS */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

/* 
1.Từ ngoài vào trong
2.Từ trên xuống dưới
3.Tổng quan đến chi tiết

*/

/* 
1.Vị trí
2.Kích thước (width, height)
3.Màu sắc
4.Kiều dáng(Kiểu chữ,hình tròn,vuông,...)
 */

#main {

}

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    display: flex;
    justify-content: space-between;
}

#nav, .subnav {
    list-style-type: none;
    
}

#nav li {
    color: #fff;
    text-decoration: none;
    position: relative;
    
}

#nav > li{
    display: inline-block;
}

#nav > li > a{
    color: #fff;
    text-transform: uppercase;
}


#nav li a{
    text-decoration: none;
    display: block;
    line-height: 46px;
    min-width: 32px;
    padding: 0 24px;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a {
    background-color: #ccc;
    color: #000;
}

#nav .subnav {  
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 100px;
    color: #000;
    box-shadow: 0 0px 1px 2px #7c7c7c;
}


#nav .subnav a {
    color: #000;
    line-height: 36px;
    padding: 0 20px;
}

#nav .subnav li:hover {
    color: #000;
    background-color: #ccc;
}

.header__search {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    margin-right: 16px;
    border-radius: 2px;
    padding: 0 32px;
}

.header__search:hover {
    background-color: #ee4d2d;
    cursor: pointer;
}

#slider {
    margin-top: 46px;
    min-height: 400px;
    background-color: #444;
}

#content {
    height: 1000px;
}

#footer {

}
