/* Header */

.header {
    height: 120px;
    background-image: linear-gradient(0,#fe6433,#f53e2d);
    
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 8px;
}

.navbar-item, .navbar-link {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.navbar-item:hover,
.navbar-icon-link:hover,
.navbar-link:hover {
    cursor: pointer;
    color: rgba(255,255,255,0.7);
}

.navbar-item--strong {
    font-weight: 400;
}

.navbar-separate::after {
    content: "";
    display: block;
    position: absolute;
    border-left: 1px solid #FB9086;
    height: 16px;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-item {
    margin: 0 8px;
    position: relative;
}

.navbar-item:hover .header__qr {
    display: block;
}


.navbar-icon {
    font-size: 1.8rem;
    margin: 0 4px;
}

.navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}



.navbar-title--no-pointer{
    cursor: text;
    color: var(--white-color)
}



/* Header QR code */


.header__qr {
    width: 166px;
    background-color: var(--white-color);
    position: absolute;
    left: 0;
    top: 150%;
    padding: 4px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease 0.4s;
}



.header__qr::before {
    position: absolute;
    left: 0;
    top: -12px;
    width: 100%;
    height: 32px;
    content: "";
    display: block;
}

.header__qr-img {
    width: 100%;

}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}

.header__qr-link:nth-child(1) {
    margin-left: 10px;
}

.header__qr-link:nth-child(2) {
    margin-right: 10px;
}

.header__qr-link {
    margin-top: 4px;
}

.header__qr-dl-img {
    height: 15px;
}

